apiVersion: v1
kind: Service
metadata:
  name: {{ include "olares-app-builder.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "olares-app-builder.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    targetPort: http
    protocol: TCP
  selector:
    {{- include "olares-app-builder.selectorLabels" . | nindent 4 }}
