apiVersion: v1
kind: Service
metadata:
  name: {{ include "stalwart.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "stalwart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "stalwart.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
    - name: smtp
      port: 25
      targetPort: smtp
      protocol: TCP
    - name: imap
      port: 143
      targetPort: imap
      protocol: TCP
    - name: imaps
      port: 993
      targetPort: imaps
      protocol: TCP
